.exercises-cpe-reading-and-use-of-english-part-4-word-to-transform  {
  font-weight: bold;
}

.exercises-hsk-input-text-for-a-single-word {
  font-size: 20px;
  text-align: center;
  max-width: 50px;
  display: block;
  margin: 10px;
}

